# IDEA
# ----
.idea
.idea/
.shelf
/*.iml
/*.ipr
/*.iws
/out

/out/.


# Eclipse
# -------
*.classpath
*.project
*.settings

/bin
.metadata/
bin/
tmp/

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Others
# ----
**/*.class
**/*.bin
**/*.build
**/*.out
build
build/
**/*.jar

# Maven specific

target/
